@charset "utf-8";

/* header */
header {
    background: #186AC9;
}

#head {
    display: flex;
    flex-flow: row wrap;
}

h1 {
    flex: 0 0 80%;
}

.nav p {
    color: #fff;
    text-align: center;
}

.logo {
    width: 94px;
    height: auto;
    padding: 20px;
}

.header-icon {
    width: 50px;
    height: auto;
}

/* top:アコーディオンメニュー */
#menu {
    display: flex;
    flex: 0 0 19%;
    justify-content: center;
    align-items: center;
}

.nav {
    display: block;
    width: 33%;
}

/*閉じた状態の矢印描画*/
.accordion-menu {
    position: relative;
    align-items: center;
    justify-content: center;
}

/*開いた状態の矢印描画*/
.accordion-menu:after {
    /* 矢印の色 */
    border-right: solid 2px #fff;
    /* 矢印の色 */
    border-top: solid 2px #fff;
    /* 必須 */
    content: "";
    /* 必須 */
    display: block;
    height: 8px;
    right: 25px;
    top: 38%;
    transform: rotate(135deg);
    /* 最初の矢印は下向き */
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    width: 8px;
    margin: 0 auto;
}

.accordion-menu.open::after {
    top: 45%;
    /* 矢印の位置を少し変える */
    transform: rotate(-45deg);
    /* 矢印を上向きに変える */
}

.accordion-inner {
    display: none;
    border-color: #186AC9;
    position: absolute;
    background-color: #fff;
    top: 77px;
    left: 80%;
}

.accordion-inner li {
    border-left: solid #186AC9;
    border-right: solid #186AC9;
    border-bottom: solid #186AC9;
    padding: 20px 34px;
    text-align: center;
    color: #727272;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
    border-right: 1px solid #727272;
    height: auto;
    width: 100%;
}

/* サイドバー */
#side-bar {
    flex: 0 0 19%;
    width: auto;
    height: auto;
}

#confirm {
    display: flex;
    flex-direction: column;
    /* 縦方向のflexを使う */
    gap: 15px;
    padding: 20px 10px;
    font-size: 14px;
    border-bottom: 2px solid #dcdcdc;
}

.btn-side {
    display: flex;
    justify-content: center;
    border: solid 3px #186AC9;
    border-radius: 5px;
    background-color: #186AC9;
    color: #fff;
    padding: 5px 15px;
    font-size: 14px;
    letter-spacing: -2px;
    margin-left: auto;
    width: 100px;
}

.btn-side a:link {
    color: #ffffff;
}

.btn-side a:visited {
    color: #ffffff;
}

.btn-side a:hover {
    color: #ffffff;
}

.btn-side a:active {
    color: #ffffff;
}

.btn-search {
    border: solid 3px #186AC9;
    border-radius: 5px;
    background-color: #186AC9;
    color: #fff;
    padding: 5px 15px;
    font-size: 16px;
    width: fit-content;
    margin: 20px auto;
}

.btn-search a:link {
    color: #ffffff;
}

.btn-search a:visited {
    color: #ffffff;
}

.btn-search a:hover {
    color: #ffffff;
}

.btn-search a:active {
    color: #ffffff;
}

/* 各ページ共通 */
.main01 {
    position: relative;
    width: auto;
    padding: 20px 0 20px 60px;
    border-bottom: 5px solid #dcdcdc;
}

/* top:投稿フォーム */
.form-group {
    display: flex;
    flex: 0 0 80%;
}

.icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* 画像は縦横比を維持したまま、50×50pxの領域を埋めるように拡大縮小 */
}

.form-control {
    border: none;
    width: 600px;
    height: 50px;
    margin: 10px;
    resize: none;
}

.send {
    position: relative;
    width: 100%;
    height: auto;
    text-align: right;
}

.send button {
    border: none;
    background-color: #fff;
}

.send img {
    width: 40px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 200px;
}

/* top,follow,follower:投稿表示 */
.timelines {
    position: relative;
    width: 100%;
}

.timeline {
    border-bottom: 2px solid #dcdcdc;
    padding: 20px 0;
    font-size: 14px;
}

.TimelineTable {
    position: relative;
    display: flex;
    width: auto;
    padding: 0 10px 0 30px;
}

.TimelineContents01 {
    position: relative;
    padding-left: 100px;
}

.TimelineContents02 {
    position: relative;
    padding: 0 50px 0 20px;
    width: 500px;
}

.TimelineContents03 {
    position: relative;
    padding: 0 40px;
    font-size: 12px;
}

.name {
    font-weight: bold;
    padding-bottom: 10px;
}

.EditTrash {
    display: flex;
    width: 8%;
    margin: 0 0 0 auto;
    padding: 0 100px 0 0;
}

.timeline img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* 画像は縦横比を維持したまま、50×50pxの領域を埋めるように拡大縮小 */
}

.post {
    border: none;
    width: 400px;
    height: 50px;
}

.updated-at {
    right: 50px;
    font-size: 12px;
}

.edit-form {
    border: none;
    width: 500px;
    height: 50px;
}

.content {
    margin: 0 auto;
    padding: 40px;
    position: relative;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal_bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal_content {
    display: flex;
    flex-direction: column;
    /* 縦方向のflexを使う */
    background: #fff;
    left: 50%;
    padding: 20px;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: max-content;
    border-radius: 10px;
    text-align: center;
}

.modal_post {
    width: 90%;
    height: 70%;
    resize: none;
    padding: 20px;
    margin: 0 0 20px 0;
    border-color: #727272;
}

.modal_content button {
    border: none;
    background-color: #fff;
}

.modal_content img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.js-modal-open {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.js-modal-open img {
    position: absolute;
    width: 30px;
    height: 30px;
    object-fit: cover;
    /* 画像は縦横比を維持したまま、30×30pxの領域を埋めるように拡大縮小 */
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.btn-danger {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.btn-danger img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    display: block;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    background-color: #fff;
    width: 30px;
    height: 30px;
    object-fit: cover;
    /* 画像は縦横比を維持したまま、30×30pxの領域を埋めるように拡大縮小 */
}

.btn-danger:hover img:nth-of-type(2) {
    opacity: 0;
}

.js-modal-close img {
    width: 30px;
    height: auto;
    background-color: #fff;
}

/* ユーザー検索ページ */
.search {
    position: relative;
    padding: 45px;
    border-bottom: solid 5px #dcdcdc;
    display: flex;
}

.form {
    border: solid 2px #727272;
    border-radius: 3px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
}

.search button {
    position: absolute;
    border: none;
    background-color: #fff;
    margin-left: 10px;
}

.search img {
    width: auto;
    height: 40px;
    border-radius: 5px;
}

.result p {
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 18px;
}

.user {
    display: flex;
    flex-direction: column;
    /* 縦方向のflexを使う */
    gap: 20px;
    margin: 20px 0;
}

.user-list {
    position: relative;
    width: fit-content;
    left: 35%;
}

.user-list img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* 画像は縦横比を維持したまま、50×50pxの領域を埋めるように拡大縮小 */
}

.user-list td:nth-child(2) {
    padding-left: 20px;
    vertical-align: middle;
    width: 150px;
}

.user-list td:nth-child(3) {
    vertical-align: middle;
    position: relative;
    margin: 0 auto;
}

.btn-follow {
    border: solid 3px #52ACFF;
    border-radius: 5px;
    background-color: #52ACFF;
    color: #fff;
    padding: 2px 15px 2px 15px;
    font-size: 14px;
}

.btn-cancel {
    border: solid 3px #ED3833;
    border-radius: 5px;
    background-color: #ED3833;
    color: #fff;
    padding: 2px 15px 2px 15px;
    font-size: 14px;
}

/* プロフィール編集ページ */
.update {
    display: flex;
    margin: 5% 20%;
}

.UpdateBlock {
    width: 100%;
}

.UpdateForm {
    position: relative;
    padding: 3% 0 3% 10%;
    font-size: 18px;
}

.label {
    display: inline-block;
    width: 200px;
}

.input {
    width: 270px;
    padding: 3px 7px;
    border: 2px solid #ccc;
    background-color: rgba(204, 204, 204, 0.3);
}

.file {
    /* 「選択されていません（選択後はファイル名）」のスタイル */
    width: 270px;
    height: 100px;
    padding: 3px 7px;
    border: 2px solid #ccc;
    background-color: rgba(204, 204, 204, 0.3);
    font-size: 10px;
}

.file::file-selector-button {
    /* 「ファイルを選択」ボタンのスタイル */
    color: #ccc;
    background: #fff;
    font-size: 14px;
    border: 0;
    padding: 8px 16px;
    text-align: center;
}

.btn-update {
    display: flex;
    align-items: center;
    border: solid 3px #ED3833;
    border-radius: 5px;
    background-color: #ED3833;
    color: #fff;
    padding: 2px 15px 2px 15px;
    font-size: 14px;
    justify-content: center;
    width: 100px;
    position: relative;
    margin: 20px auto;
}

/* follow,followerページ */
.list {
    display: flex;
}

.ListTittle {
    padding: 5px 15px 5px 5px;
    height: 40px;
    text-align: center;
    margin: auto 0 0 0;
}

.ListTittle h2 {
    font-size: 20px;
}

.FollowList {
    display: flex;
    flex-wrap: wrap;
}

.FollowerList {
    display: flex;
    flex-wrap: wrap;
}

.FollowList a {
    margin: 1px;
    padding: 5px;
}

.FollowList img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* 画像は縦横比を維持したまま、30×30pxの領域を埋めるように拡大縮小 */
}

.FollowerList a {
    margin: 1px;
    padding: 5px;
}

.FollowerList img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* 画像は縦横比を維持したまま、30×30pxの領域を埋めるように拡大縮小 */
}

/* プロフィールページ */
.introduce {
    display: flex;
}

.IntroduceImage {
    margin: 0 0 0 40px;
}

.introduce img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* 画像は縦横比を維持したまま、50×50pxの領域を埋めるように拡大縮小 */
}

.IntroduceContents {
    width: max-content;
}

.profile {
    display: flex;
    position: relative;
    padding: 3% 0 3% 5%;
    font-size: 18px;
    width: max-content;
}

.profile p {
    width: 500px;
}

.btn-profile {
    margin: auto 0 3% 0;
}
