@charset "utf-8";

/* ログイン画面 */
.body {
    background: linear-gradient(#0067C6, #FAE233);
}

.login {}

.login p {
    color: #fff;

}

.login-logo {}

.welcome {}

.e-mail {}

.pass {}

/* header */
header {
    background: #186AC9;
}

#head {
    display: flex;
    flex-flow: row wrap;
}

h1 {
    flex: 0 0 80%;
}

.nav p {
    color: #fff;
    text-align: center;
}

.logo {
    width: 94px;
    height: auto;
    padding: 20px;
}

.header-icon {
    width: 50px;
    height: auto;
}

/* top:アコーディオンメニュー */
#menu {
    display: flex;
    flex: 0 0 19%;
    justify-content: center;
    align-items: center;
}

.nav {
    display: block;
    width: 33%;
}

/*閉じた状態の矢印描画*/
.accordion-menu {
    position: relative;
    align-items: center;
    justify-content: center;
}

/*開いた状態の矢印描画*/
.accordion-menu:after {
    /* 矢印の色 */
    border-right: solid 2px #fff;
    /* 矢印の色 */
    border-top: solid 2px #fff;
    /* 必須 */
    content: "";
    /* 必須 */
    display: block;
    height: 8px;
    right: 25px;
    top: 38%;
    transform: rotate(135deg);
    /* 最初の矢印は下向き */
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    width: 8px;
}

.accordion-menu.open::after {
    top: 45%;
    /* 矢印の位置を少し変える */
    transform: rotate(-45deg);
    /* 矢印を上向きに変える */
}

.accordion-inner {
    /* display: none; */
    border-color: #186AC9;
    position: absolute;
    background-color: #fff;
    top: 13%;
    left: 80%;
}

.accordion-inner li {
    border-left: solid #186AC9;
    border-right: solid #186AC9;
    border-bottom: solid #186AC9;
    padding: 20px 34px;
    text-align: center;
    color: #727272;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    /* display: none; */
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    width: auto;
    height: auto;
}

/* サイドバー */
#confirm {}

.list {}

.btn-side {
    display: block;
    border: solid 3px #186AC9;
    border-radius: 5px;
    background-color: #186AC9;
    color: #fff;
    padding: 2px 15px 2px 15px;
    font-size: 16px;
    margin-left: auto;
}

.btn-search {
    border: solid 3px #186AC9;
    border-radius: 5px;
    background-color: #186AC9;
    color: #fff;
    padding: 2px 15px 2px 15px;
    font-size: 16px;

}

/* 投稿フォーム */
.posts {
    height: auto;
    border-bottom: 5px solid #dcdcdc;
    padding-bottom: 60px;
}

.form-group {
    display: flex;
    flex: 0 0 80%;
    padding-top: 20px;
}

.icon {
    display: block;
    width: 50px;
    height: auto;
    margin-left: 60px;
}

.form-control {
    border: none;
    width: 600px;
    height: 50px;
    margin-left: 10px;
}

.send {
    width: 30px;
    height: auto;
    display: block;
    position: relative;
}

.send button {
    position: absolute;
    left: 800px;
    border: none;
    background-color: #fff;
}

.send img {
    width: 40px;
    height: auto;
    border-radius: 5px;
}

/* top:投稿表示 */
.timeline {
    position: relative;
    height: auto;
}

.table {
    border-collapse: collapse;
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #dcdcdc;
}

.table td {
    background-color: #fff;
}

/* .table-bordered td {
    border: 1px solid #ddd !important
}*/

/* .timeline-a {

    height: 100%;
    padding: 5px 5px 20px 10px;
    border-bottom: 1px solid #727272;
    margin-top: 10px;
}

.user-icon {
    display: block;
    margin-left: 50px;
}

.main {
    margin-left: 20px;
    flex: 1;

}

.username {
    display: block;
}

.post {
    border: none;
    width: 400px;
    height: 50px;
}

.updated-at {
    right: 50px;
    font-size: 12px;
}

.edit-form {
    border: none;
    width: 500px;
    height: 50px;
}*/

.content {
    margin: 0 auto;
    padding: 40px;
    position: relative;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal_bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal_content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.js-modal-open img {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 60%;
    background-color: #fff;
}

/* .btn-danger img {
    position: absolute;
    width: 30px;
    height: auto;
    left: 840px;
    background-color: #fff;
    border-radius: 5px;
}*/

.btn-danger {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.btn-danger img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    display: block;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    background-color: #fff;
}

.btn-danger:hover img:nth-of-type(2) {
    opacity: 0;
}

.js-modal-close img {
    width: 30px;
    height: auto;
    background-color: #fff;
}

.btn {}


/* ユーザー検索ページ */
.search {
    position: relative;
    padding: 45px;
    border-bottom: solid 5px #dcdcdc;
    display: flex;
}

.form {
    border: solid 2px #727272;
    border-radius: 3px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
}

.search button {
    position: absolute;
    border: none;
    background-color: #fff;
    margin-left: 10px;
}

.search img {
    width: auto;
    height: 40px;
    border-radius: 5px;
}

.result p {
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 18px;
}

.user {
    position: relative;

}

.user-list {
    margin: 4% 30% 4% 30%;
    width: auto;
}

.user-list td:nth-child(2) {
    padding-left: 20px;
    vertical-align: middle;
}

.user-list td:nth-child(3) {
    position: absolute;
    right: 30%;
}

.btn-follow {
    border: solid 3px #52ACFF;
    border-radius: 5px;
    background-color: #52ACFF;
    color: #fff;
    padding: 2px 15px 2px 15px;
    font-size: 14px;
}

.btn-cancel {
    border: solid 3px #ED3833;
    border-radius: 5px;
    background-color: #ED3833;
    color: #fff;
    padding: 2px 15px 2px 15px;
    font-size: 14px;
}

/* プロフィール編集画面 */
.image {
    display: block;
    width: 50px;
    height: auto;
    margin-left: 60px;
}

.update-block {}

.update-form {}

.update-form label {}

.update-form input {}
